name: Deploy Cloud Run Job

on:
  push:
    branches: ["main"]
    paths:
      - "main.py"
      - "Dockerfile"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: docker/setup-buildx-action@v2

    - uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Configure Artifact Registry
      run: gcloud --quiet auth configure-docker "${{ secrets.GCP_REGION }}-docker.pkg.dev"

    - name: Build image tag
      run: |
        SHORT_SHA=$(echo $GITHUB_SHA | cut -c1-7)
        echo "IMAGE_URI=${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT }}/${{ secrets.ARTIFACT_REPO }}/${{ secrets.IMAGE_NAME }}:sha-$SHORT_SHA" >> $GITHUB_ENV

    - name: Build & Push
      run: |
        docker build -t "$IMAGE_URI" .
        docker push "$IMAGE_URI"

    - name: Update Cloud Run Job
      run: |
        gcloud run jobs update "${{ secrets.CLOUD_RUN_JOB_NAME }}" \
        --image="$IMAGE_URI" \
        --region="${{ secrets.GCP_REGION }}" \
        --project="${{ secrets.GCP_PROJECT }}"

    - name: Run Cloud Run Job
      run: |
        gcloud run jobs execute "${{ secrets.CLOUD_RUN_JOB_NAME }}" \
        --region="${{ secrets.GCP_REGION }}" \
        --project="${{ secrets.GCP_PROJECT }}"
